
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace; 
}

ul {
    list-style: none;
    background: rgb(43, 16, 248)
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #3793bd;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #d31b1b;
}

ul li:hover ul.dropdown{
  display:block;
}













* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.body{
font-family: 'outfit';

}


.fs-form {
display:grid;
height: 100vh;
color: white;
align-items: center;
justify-content: space-evenly;
}

.fs-field{
display: flex;
flex-direction: column; 
margin-bottom: 1rem;

}

.fs-input{
width: 400px;
height: 40px;
border:none;
outline: none;
padding-left: 25px;
font-weight: 500;
border-radius: 50px;

}

.fs-textarea{
width: 400px;
height: 40px;
border:none;
outline: none;
padding-left: 25px;
font-weight: 500;
border-radius: 50px;

}

.form-field-send{
  background-color: hsl(180, 12%, 63%);
  color: hsl(0, 3%, 29%);
font-size : 20px;
}
















#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}


.content {
  position: relative;
  z-index: 1;
  color: white; 
  padding: 2rem;
}


h2 {
color: white;
}

.social-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #E1306C;  
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #C13584; 
}

.icon {
  width: 64px;
  height: 64px;
  margin-right: 8px;
}



